/*
LG 1140 x 456
MD 940
SM 720
XS 480
*/

/* Vars */
@page-bg-color: #936;
@page-bg-dark-color: #603;
@header-bg-color: #fff;
@footer-bg-color: #fc9;
@page-font-color: #333;
@page-font: "Open Sans", sans-serif;
@title-font: "Amatic SC", "Open Sans", sans-serif;
@white: #fff;

/* Mixins */
.transitionDuration (@duration) {
  transition-duration: @duration;
  -webkit-transition-duration: @duration;
}

.easingTimingFunction () {
  -webkit-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -ms-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition: all 0 cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */

  -webkit-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -moz-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -ms-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -o-transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transition-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940); /* easeOutQuad */
}

.transform (@value) {
  transform: @value;
  -ms-transform: @value;
  -webkit-transform: @value;
}

/* Styles */
body {
  background-color: @white;
  color: @page-font-color;
  font-family: @page-font;
  width: 100%;

  .form-control:focus {
    border-color: @page-bg-dark-color;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px @page-bg-color;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px @page-bg-color;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: @title-font;
    font-weight: bold;
  }

  .img {
    margin: 10px 0;
  }

  .desc {
    margin-top: 25px;
  }

  .btn-lbl {
    color: @white;
    background-color: @page-bg-color;
    border-color: @page-bg-dark-color;

    &.active, &.focus, &:active, &:focus, &:hover {
      color: @white;
      background-color: @page-bg-dark-color;
      border-color: @page-bg-color;
    }
  }

  .alert-cookies {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    border-radius: 0;
    border-bottom: solid 5px @page-bg-color;
    background-color: #333;
    opacity: 0.95;
    color: @white;

    a {
      color: inherit;
      font-weight: bold;
      text-decoration: underline;
    }
  }

  header {
    background-color: @header-bg-color;

    .logo-principal {
      display: block;
      margin: 10px 0;
      text-align: center;
    }

    .social {
      margin: 5px 0;

      a {
        color: @page-bg-color;
        display: inline-block;
        margin-left: 10px;

        &:hover {
          text-decoration: none;
        }
      }
    }

    nav.navbar {
      font-weight: bold;
      background-color: @page-bg-color;
      margin-bottom: 0;
      border-radius: 0;

      .navbar-header {
        .navbar-brand {
          color: @white;
          font-family: @title-font;
          font-size: 30px;
          text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.75);

          &:hover {
            color: @white;
            text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.75);
          }
        }

        .navbar-toggle {
          width: 50px;
          height: 50px;
          margin: 0;
          padding: 0;
          border: solid 1px @white;
          border-radius: 0;

          i, span {
            color: @white;
          }
        }
      }

      .navbar-collapse {
        @media (min-width: 768px) {
          padding: 0;
        }

        .nav {
          li {
            a {
              color: @white;
              cursor: pointer;
              font-family: @title-font;
              font-size: 20px;

              &.active {
                background-color: @page-bg-dark-color;
              }

              &:hover, &:focus {
                background-color: @page-bg-dark-color;
                text-shadow: 2px 2px 6px rgba(255, 255, 255, 0.75);
              }

              @media (min-width: 768px) and (max-width: 991px) {
                padding-left: 7px;
                padding-right: 7px;
              }

              &.actividades {
                color: @footer-bg-color;
              }
            }

            ul.dropdown-menu {
              background-color: @page-bg-color;

              li {
                a {
                  padding-top: 5px;
                  padding-bottom: 5px;

                  &.semana-mundial {
                    color: @footer-bg-color;
                  }
                }
              }
            }

            &.open {
              > a {
                background-color: @page-bg-dark-color;
                &:focus,
                &:hover {
                  background-color: @page-bg-dark-color;
                }
              }
            }
          }
        }
      }
    }
  }

  footer {
    background-color: @footer-bg-color;
    font-weight: bold;
    padding-bottom: 5px;
    text-align: center;

    p.copyright {
      padding-top: 15px;
    }

    img {
      height: 50px;
    }
  }

  #home {
    .carousel-container {
      margin: 10px 0;

      .carousel-indicators {
        display: none;
      }
    }
  }

  #quienes-somos {
    .carousel-container {
      margin: 10px 0;
    }
  }

  #actividades {
    #calendario {
      margin-bottom: 15px;

      .calendar-controls {

        @media (max-width: 480px) {
          text-align: center;
        }

        .calendar-day-controls {
          position: relative;
          float: left;
        }
        .calendar-view-controls {
          position: relative;
          float: right;
        }

        .calendar-day-controls, .calendar-view-controls {
          margin: 10px 0;

          @media (max-width: 480px) {
            float: none;
          }
        }
      }
    }

    #semana-mundial {
      img {
        margin: 0 auto;
        @media (min-width: 768px) {
          max-width: 75%;
        }

        @media (min-width: 992px) {
          max-width: 60%;
        }

        @media (min-width: 1200px) {
          max-width: 50%;
        }
      }
    }
  }

  #encuentros {
    .encuentros-ul {
      margin-top: 25px;
    }
    .arrow-maps {
      color: @page-bg-color;
    }
  }

  #material {
    #prestamo-de-libros {
      .filtros {
        > div {
          margin-bottom: 15px;

          @media (max-width: 480px) {
            width: 100%;
          }
        }
      }
    }
  }
}

// Para los modales que continen los detalles de un libro
.book-details {
  figure {
    img {
      @media (max-width: 767px) {
        display: block;
        margin: 0 auto 15px;
      }

      @media (min-width: 768px) {
        float: left;
        margin-right: 15px;
      }
    }
  }
}

.slide-top {
  .easingTimingFunction();
  &.ng-enter {
    .transform(translateY(60px));
    .transitionDuration(250ms);
    opacity: 0;
  }

  &.ng-enter-active {
    .transform(translateY(0));
    opacity: 1;
  }
}
