<section id="encuentros" class="clearfix">
    <img src="/images/encuentros/lg/encuentros.jpg?1485005390" class="img img-responsive img-rounded center-block" alt="Encuentros"/>

    <div class="row">
        <section class="col-xs-12 col-sm-6">
            <header>
                <h1>Encuentros</h1>
            </header>

            <p>
                Queremos crear una red de apoyo de madre a madre con la experiencia de todas, por medio de encuentros periódicos a los que puede asistir toda
                persona del entorno de la mujer lactante (pareja, familiares, personal sanitario, etc...)
            </p>

            <p><strong>En los encuentros podrás:</strong></p>
            <ul>
                <li>Encontrar información general sobre lactancia y crianza</li>
                <li>Plantear tus dudas</li>
                <li>Solicitar la observación de una toma</li>
                <li>Obtener el apoyo emocional que necesitas</li>
                <li>Conocer material de lactancia</li>
                <li>Aprender a portear</li>
            </ul>
            <p>También disponemos de un servicio de <a ui-sref="contacto">atención telefónica y correo electrónico</a>.</p>
        </section>
        <section class="col-xs-12 col-sm-6">
            <ul class="list-group encuentros-ul">
                <li class="list-group-item">
                    <address>
                        <a href="https://www.google.es/maps/place/Centro+Cultural+Ram%C3%B3n+Pelayo/@43.3841445,-3.73203,17z/data=!4m2!3m1!1s0xd4ecb27f10ca01f:0x46be1d6b4071bd95"
                           class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
                            <i class="fa fa-location-arrow"></i>
                        </a>
                        <strong>Solares</strong><br>
                        Centro Cultural Ramón Pelayo<br>
                        Primeros lunes de mes:<br>
                        De 17:30 a 19:00
                    </address>
                </li>
                <li class="list-group-item">
                    <address>
                        <a href="https://www.google.es/maps/place/Colegio+Campijo/@43.38357,-3.2239874,207m/data=!3m2!1e3!4b1!4m2!3m1!1s0xd4ef24971b62d4b:0xde941f67b47452f7!6m1!1e1"
                           class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
                            <i class="fa fa-location-arrow"></i>
                        </a>
                        <strong>Castro Urdiales</strong><br>
                        C.E.I.P. San Martín de Campijo<br>
                        <abbr title="Calle">C/</abbr> de Aranzal, 11<br>
                        Primeros miércoles de mes:<br>
                        De 17:30 a 19:30
                    </address>
                </li>
                <li class="list-group-item">
                    <address>
                        <a href="https://www.google.es/maps/place/Avineda+de+Joaquin+Fernandez+Vallejo,+123,+39300+Torrelavega,+Cantabria/@43.3313727,-4.0435936,210m/data=!3m1!1e3!4m5!3m4!1s0xd493dd94477cc27:0xbd755e4436ee261c!8m2!3d43.3313727!4d-4.0430451"
                           class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
                           <i class="fa fa-location-arrow"></i>
                        </a>
                        <strong>Tanos</strong> (Zona de Torrelavega)<br>
                        Centro Cultural frente al Centro de Salud<br>
                        <abbr title="Avenida">Avda.</abbr> de Joaquín Fernández Vallejo, 123<br>
                        Segundos martes de mes:<br>
                        De 17:00 a 19:00
                    </address>
                </li>
                <li class="list-group-item">
                    <address>
                        <a href="https://www.google.es/maps/place/Plaza+los+Derechos+Humanos,+1,+39008+Santander,+Cantabria/@43.45852,-3.81782,17z/data=!3m1!4b1!4m2!3m1!1s0xd494a2cd27e3409:0xef8977d24106b03a"
                           class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
                            <i class="fa fa-location-arrow"></i>
                        </a>
                        <strong>Santander</strong><br>
                        Centro Cívico Callealtero<br>
                        Plaza Derechos Humanos, 1 (Zona Calle Alta)<br>
                        Terceros martes de mes:<br>
                        De 17:00 a 19:00
                    </address>

                </li>
                <li class="list-group-item">
                    <address>
                        <a href="https://www.google.es/maps/place/Casa+de+Cultura/@43.3606006,-4.0849641,15z/data=!4m5!1m2!2m1!1sCasa+de+Cultura!3m1!1s0x0000000000000000:0xa16a2b31eb16707d"
                           class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
                            <i class="fa fa-location-arrow"></i>
                        </a>
                        <strong>Puente San Miguel</strong> (Zona de Reocín)<br>
                        Casa de la Cultura<br>
                        <abbr title="Barrio">Bº</abbr> La Robleda, 100<br>
                        Últimos viernes de mes:<br>
                        De 17:00 a 19:00
                    </address>
                </li>
            </ul>
        </section>
    </div>
</section>
