<footer ng-controller="FooterController as footerCtrl">
    <div class="container mapa text-left">
        <div class="row">
            <div class="col-xs-6 col-md-3">
                <p><a ui-sref="quienes-somos">Quiénes somos</a></p>
                <p><a ui-sref="encuentros">Encuentros</a></p>
                <p><a ui-sref="asociate">Asóciate</a></p>
                <p><a ui-sref="contacto">Contacta</a></p>
                <p><a ui-sref="mapa-web">Mapa web</a></p>
            </div>
            <div class="col-xs-6 col-md-3">
                <p>Actividades:</p>
                <ul class="list-unstyled">
                    <li><a ui-sref="actividades.divulgativas">Actividades divulgativas</a></li>
                    <li><a ui-sref="actividades.ludicas">Actividades lúdicas</a></li>
                    <li><a ui-sref="actividades.semana-mundial">Semana Mundial 2016</a></li>
                    <li><a ui-sref="actividades.calendario">Calendario de actividades</a></li>
                </ul>
            </div>
            <div class="col-xs-12 visible-xs visible-sm"></div>
            <div class="col-xs-6 col-md-3">
                <p>Material:</p>
                <ul class="list-unstyled">
                    <li><a ui-sref="material.extractores-de-leche">Extractores de leche</a></li>
                    <li><a ui-sref="material.prestamo-de-libros">Préstamo de libros</a></li>
                    <li><a ui-sref="material.material-divulgativo">Material divulgativo</a></li>
                    <li><a ui-sref="material.material-de-muestra">Material de muestra</a></li>
                </ul>
            </div>
            <div class="col-xs-6 col-md-3">
                <p>Información:</p>
                <ul class="list-unstyled">
                    <li><a ui-sref="informacion.como-empezar">Cómo empezar</a></li>
                    <li><a ui-sref="informacion.beneficios">Beneficios</a></li>
                    <li><a ui-sref="informacion.problemas-y-soluciones">Problemas y soluciones</a></li>
                    <li><a ui-sref="informacion.extraccion-de-leche">Extracción de leche</a></li>
                    <li><a ui-sref="informacion.destete">Destete</a></li>
                    <li><a ui-sref="informacion.lactancia-y-trabajo">Lactancia y trabajo</a></li>
                    <li><a ui-sref="informacion.grupos-de-apoyo">Grupos de apoyo</a></li>
                    <li><a ui-sref="informacion.otros-enlaces">Otros enlaces</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="container encuentros text-left">
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <address>
                <a href="https://www.google.es/maps/place/Centro+Cultural+Ram%C3%B3n+Pelayo/@43.3841445,-3.73203,17z/data=!4m2!3m1!1s0xd4ecb27f10ca01f:0x46be1d6b4071bd95"
                   class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
                    <i class="fa fa-location-arrow"></i>
                    <strong>Solares</strong>
                </a><br>
                Primeros lunes de mes:<br>
                De 17:30 a 19:00
            </address>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <address>
                <a href="https://www.google.es/maps/place/Colegio+Campijo/@43.38357,-3.2239874,207m/data=!3m2!1e3!4b1!4m2!3m1!1s0xd4ef24971b62d4b:0xde941f67b47452f7!6m1!1e1"
                   class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
                    <i class="fa fa-location-arrow"></i>
                    <strong>Castro Urdiales</strong>
                </a><br>
                Primeros miércoles de mes:<br>
                De 17:30 a 19:30
            </address>
        </div>

        <div class="col-xs-12 visible-xs"></div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <address>
                <a href="https://www.google.es/maps/place/Avineda+de+Joaquin+Fernandez+Vallejo,+123,+39300+Torrelavega,+Cantabria/@43.3313727,-4.0435936,210m/data=!3m1!1e3!4m5!3m4!1s0xd493dd94477cc27:0xbd755e4436ee261c!8m2!3d43.3313727!4d-4.0430451"
                   class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
                    <i class="fa fa-location-arrow"></i>
                    <strong>Tanos</strong>
                </a><br>
                Segundos martes de mes:<br>
                De 17:00 a 19:00
            </address>
        </div>

        <div class="col-sm-12 visible-sm"></div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <address>
                <a href="https://www.google.es/maps/place/Plaza+los+Derechos+Humanos,+1,+39008+Santander,+Cantabria/@43.45852,-3.81782,17z/data=!3m1!4b1!4m2!3m1!1s0xd494a2cd27e3409:0xef8977d24106b03a"
                   class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
                    <i class="fa fa-location-arrow"></i>
                    <strong>Santander</strong>
                </a><br>
                Terceros martes de mes:<br>
                De 17:00 a 19:00
            </address>
        </div>

        <div class="col-xs-12 visible-xs"></div>

        <div class="col-xs-6 col-sm-4 col-lg-2">
            <address>
                <a href="https://www.google.es/maps/place/Casa+de+Cultura/@43.3606006,-4.0849641,15z/data=!4m5!1m2!2m1!1sCasa+de+Cultura!3m1!1s0x0000000000000000:0xa16a2b31eb16707d"
                   class="arrow-maps" data-toggle="tooltip" data-placement="top" title="Ver en Google Maps" target="_blank">
                    <i class="fa fa-location-arrow"></i>
                    <strong>Puente San Miguel</strong>
                </a><br>
                Últimos viernes de mes:<br>
                De 17:00 a 19:00
            </address>
        </div>
        <div class="col-xs-6 col-sm-4 col-lg-2">
            <div class="rrss">
                <a href="http://compartiendocrianza.blogspot.com.es/" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Mantente al día en nuestro blog">
                    <i class="fa fa-2x fa-rss"></i>
                </a>
                <a href="https://es-es.facebook.com/AsociacionLaBuenaLeche" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Síguenos en Facebook">
                    <i class="fa fa-2x fa-facebook-official"></i>
                </a>
                <a href="https://twitter.com/asociacionlbl" target="_blank" data-toggle="tooltip" data-placement="bottom" title="Síguenos en Twitter">
                    <i class="fa fa-2x fa-twitter"></i>
                </a>
            </div>
            <div class="contacto">
                <ul class="fa-ul">
                    <li><i class="fa-li fa fa-phone"></i> <a href="tel:942709839">942 70 98 39 (Bea)</a></li>
                    <li><i class="fa-li fa fa-phone"></i> <a href="tel:942580425">942 58 04 25 (Isabel)</a></li>
                    <li><i class="fa-li fa fa-phone"></i> <a href="tel:605026006">605 02 60 06 (Verónica)</a></li>
                    <li><i class="fa-li fa fa-phone"></i> <a href="tel:644015410">644 01 54 10 (Noemí)</a></li>
                    <li><i class="fa-li fa fa-phone"></i> <a href="tel:675110051">675 11 00 51 (Beatriz)</a></li>
                    <li><i class="fa-li fa fa-whatsapp"></i> 629 41 06 10 (Nuria) <strong>Whatsapp</strong></li>
                    <li><i class="fa-li fa fa-envelope"></i> <a ng-href="mailto:{{footerCtrl.email}}">{{footerCtrl.email}}</a></li>
                </ul>
            </div>
        </div>
    </div>

    <hr>

    <div class="container imagen-copy">
        <p class="copyright"><i class="fa fa-copyright"></i> Asociación La Buena Leche {{footerCtrl.year}}</p>
        <a class="visible-xs" ui-sref="home">
            <img src="/images/logo.png?1485005390" alt="Logo de la Asociación La Buena Leche">
        </a>
    </div>
</footer>
