<section id="mapa-web">
    <header>
        <h1>Mapa Web</h1>
    </header>

    <ul class="list-group">
        <li class="list-group-item">
            <a ui-sref="quienes-somos">Quiénes somos</a>
        </li>
        <li class="list-group-item">
            Actividades
            <ul class="fa-ul">
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="actividades.divulgativas">Actividades divulgativas</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="actividades.ludicas">Actividades lúdicas</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="actividades.semana-mundial">Semana Mundial 2016</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="actividades.calendario">Calendario de actividades</a></li>
            </ul>
        </li>
        <li class="list-group-item">
            <a ui-sref="encuentros">Encuentros</a>
        </li>
        <li class="list-group-item">
            Material
            <ul class="fa-ul">
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="material.extractores-de-leche">Extractores de leche</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="material.prestamo-de-libros">Préstamo de libros</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="material.material-divulgativo">Material divulgativo</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="material.material-de-muestra">Material de muestra</a></li>
            </ul>
        </li>
        <li class="list-group-item">
            Información
            <ul class="fa-ul">
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="informacion.como-empezar">Cómo empezar</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="informacion.beneficios">Beneficios</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="informacion.problemas-y-soluciones">Problemas y soluciones</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="informacion.extraccion-de-leche">Extracción de leche</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="informacion.destete">Destete</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="informacion.lactancia-y-trabajo">Lactancia y trabajo</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="informacion.grupos-de-apoyo">Grupos de apoyo</a></li>
                <li><i class="fa fa-li fa-angle-double-right" aria-hidden="true"></i><a ui-sref="informacion.otros-enlaces">Otros enlaces</a></li>
            </ul>
        </li>
        <li class="list-group-item"><a ui-sref="asociate">Asóciate</a></li>
        <li class="list-group-item"><a ui-sref="contacto">Contacta</a></li>
    </ul>
</section>