<section id="contacto" class="clearfix">
    <img src="/public/images/contacto/lg/contacto.jpg?1485005390" class="img img-responsive img-rounded center-block" alt="Contacta con nosotros"/>

    <section class="desc">
        <header>
            <h1>Contacta</h1>
        </header>
        <p>
            En la Asociación no contamos con una ubicación física, pero si lo necesitas, puedes asistir a cualquiera de nuestras reuniones: Solares, Tanos-Torrelavega, Santander,
            Castro Urdiales y Puente San Miguel.
        </p>

        <p>
            Encontrarás la información completa pinchando <a ui-sref="encuentros">aquí</a>.
        </p>

        <p>
            Puedes localizarnos en los siguientes teléfonos de contacto, <strong>llamando de 09:00 a 21:00</strong>, en los que gustosamente atenderemos tus consultas, a través
            de nuestro correo electrónico, o también nos puedes encontrar en Facebook y Twitter:
        </p>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-phone"></i> <a href="tel:942709839">942 70 98 39 (Bea)</a></li>
            <li><i class="fa-li fa fa-phone"></i> <a href="tel:942580425">942 58 04 25 (Isabel)</a></li>
            <li><i class="fa-li fa fa-phone"></i> <a href="tel:605026006">605 02 60 06 (Verónica)</a></li>
            <li><i class="fa-li fa fa-phone"></i> <a href="tel:644015410">644 01 54 10 (Noemí)</a></li>
            <li><i class="fa-li fa fa-phone"></i> <a href="tel:675110051">675 11 00 51 (Beatriz)</a></li>
            <li><i class="fa-li fa fa-mobile"></i> 680 74 73 05 (Blanca) sólo <strong>alquiler de sacaleches</strong></li>
            <li><i class="fa-li fa fa-whatsapp"></i> 629 41 06 10 (Nuria) por <strong>Whatsapp</strong></li>
            <li><i class="fa-li fa fa-envelope"></i> <a ng-href="mailto:{{contactoCtrl.email}}">{{contactoCtrl.email}}</a></li>
            <li><i class="fa-li fa fa-facebook"></i> <a href="https://es-es.facebook.com/AsociacionLaBuenaLeche" target="_blank">La Buena Leche</a></li>
            <li><i class="fa-li fa fa-twitter"></i> <a href="https://twitter.com/asociacionlbl" target="_blank"><i class="fa fa-at"></i>AsocacionLBL</a></li>
        </ul>
    </section>
</section>
