<section id="material-de-lactancia" class="clearfix">
	<h1 class="text-center">Material de lactancia</h1>
	<div class="row">
		<section class="col-sm-6">
			<p>
				Podemos darte una orientación general sobre productos relacionados con el mundo de la lactancia que hemos comprobado en nuestra experiencia que son útiles.
				Además, puedes encontrar mucha más información en la red buscando los términos en negrita que te explicamos.
			</p>
			<p>
				Una página en la que encontrarás mucho material útil es <a href="http://www.medela.com/ES/es/breastfeeding.html" target="_blank">Medela</a>. Aquí podrás ver
				multitud de elementos que ayudan a que la lactancia y la vida en general de madre y bebé sea un poco más fácil.
			</p>
			<p>
				Los <strong>portabebés</strong> son básicamente un soporte de tela que te permite llevar a tu bebé pegado a tu cuerpo, facilitando los movimientos y la lactancia
				"sobre la marcha". Hay de muchos tipos, que se adaptan a los gustos y modo de vida de cada madre; puedes echar un vistazo a los
				de <a href="http://www.crianzanatural.com/fam/fam1.html" target="_blank">Crianza Natural</a>.
			</p>
			<img class="img img-responsive center-block" src="images/material-de-lactancia-1.jpg" alt="Una bandolera"/>
		</section>

		<section class="col-sm-6">
			<p>
				Los <strong>relactadores</strong> son sistemas de nutrición suplementaria, especialmente indicados para suministrar al bebé la leche materna o cualquier suplemento
				de leche. Están muy indicados en: bebés prematuros, bebés adoptados, bebés con dificultades de succión, bebés con malformaciones en el paladar y para dar el
				pecho después de una pausa en la lactancia. <a href="http://www.instintomaternal.com/es/contenido/?iddoc=52" target="_blank">Aquí</a> puedes ver alguno.
			</p>
			<img class="img img-responsive center-block" src="images/material-de-lactancia-2.jpg" alt="Relactador"/>
			<p>
				Consulta la información sobre extractores de leche <a ui-sref="actividades.extractores-de-leche">aquí</a>.
			</p>
			<p>
				<a href="http://www.medela.com/ES/es/breastfeeding/products/breast-care/milk-leakage.html" target="_blank">Las pezoneras y las copas protectoras</a> son de
				gran utilidad en caso de pérdida de leche materna, tanto leve como moderada o flujo intenso, adecuándose su uso dependiendo del caso.
			</p>
		</section>
	</div>
</section>
